.style{
  font-style: italic;
  text-align: center;
  color: white;
  background-color: rgb(5, 2, 15);
}
.st{
width:1000px;
height: 500px;

}
.P2{
  
  /* background-repeat: repeat; */
}
.txt{
  font-style: italic;
}